# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
.terraform/
*gitignore*.tf
*openrc.sh
*.env
ansible.zip

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored vscode files
.vscode/
