# Customize the HAProxy configuration as needed
global
    maxconn 100
    log /dev/log local0
    chroot /var/lib/haproxy
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend main
    bind *:80
    default_backend app

backend app
    balance roundrobin
{% for item in groups['apache'] %}
    server apache{{ loop.index }} {{ hostvars[item]['ansible_host'] }}:80 check
{% endfor %}

