Listen 80
DocumentRoot "{{ apache_webserver__html_dir }}"
DirectoryIndex index.html

# Required modules
LoadModule authz_core_module modules/mod_authz_core.so
LoadModule dir_module modules/mod_dir.so
LoadModule unixd_module modules/mod_unixd.so
LoadModule mpm_event_module modules/mod_mpm_event.so
LoadModule systemd_module modules/mod_systemd.so

# Removable
# This is to suppress warning message AH00558: httpd: Could not reliably determine the server's fully qualified domain name
ServerName 127.0.0.1

# Removable
# Just to suppress warning message in logs/error_log
User nobody
Group nobody

# Removable if you don't need logs
#ErrorLog "logs/error_log"
#LogLevel warn
